<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reacon</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="https://image.freepik.com/free-vector/r-circle-logo-vector_23987-175.jpg"
         alt="Smth goes wrong" width="144" height="144">
    <h2>Reacon</h2>
    <p class="lead">Кроссплатформенный мессенджер, позволяющий обмениваться сообщениями и медиафайлами многих
        форматов.</p>
    <a class="btn btn-primary btn-lg" href="/messages" role="button"> Начать исопльзование </a>
</div>
</body>
</html>